{{#each article}}
<div class="article">
  <div class="row">
    <a href="{{this.link}}" target="_blank">
      <h3 class="headline">{{this.headline}}</h3>
    </a>
  </div>
  <p>{{this.summary}}</p>
  {{#unless this.saved}}
  <button class="save_article_button" data-ref="{{this._id}}" type="button" name="button">Save Article</button>
  {{/unless}}
</div>
{{/each}}
