
<div class="row">
  <div class="row">
    <button class="scrape_buttons hvr-grow" id="scrape_button" type="button" name="button">
      Scrape New Articles
    </button>
  </div>
  <div class="row">
    <button class="scrape_buttons hvr-grow" id="unscrape_button" type="button" name="button">
      Unscrape New Articles
    </button>
  </div>
</div>
