<div class="row">
  <h2>Mongo Scraper</h2>
</div>

<div class="row">
  <a href="#">Home</a>
  <a href="#">Saved Articles</a>
</div>

<div class="row">
  <button type="button" name="button">Scrape New Articles</button>
</div>
