<div class="row">
  <h1>NY Times Scraper</h1>
</div>

<div class="row">
  <a href="/">Home</a>
  <a href="/saved">Saved Articles</a>
</div>

<div class="row">
  <button id="scrape_button" type="button" name="button">
    Scrape New Articles
  </button>
  <button id="unscrape_button" type="button" name="button">
    Unscrape New Articles
  </button>
</div>
