<div class="row">
  <h1>NY Times Scraper</h1>
</div>

<div class="row">
  <a href="#">Home</a>
  <a href="#">Saved Articles</a>
</div>

<div class="row">
  <button type="button" name="button">Scrape New Articles</button>
</div>
