<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Cinzel" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="css/homepage.css" type="text/css" />
	<link rel="stylesheet" href="css/hover.css" type="text/css" />

	<title>News Scrape</title>
</head>
<body>
	<div id="top_stuff">
		<div class="row" id="top">
			<img id="news_icon" src="img/news_icon.png" alt="">
			<h1 id="title">NY Times Scraper</h1>
		</div>
		<div class="row">
		  <a class="links" href="/">Home</a>
		  <a class="links" href="/saved">Saved Articles</a>
		</div>
	</div>
	<div class="container">
		{{{ body }}}
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js" charset="utf-8"></script>
	<script src="js/save_article.js" charset="utf-8"></script>
	<script src="js/scrape.js" charset="utf-8"></script>
	<script src="js/notes.js" charset="utf-8"></script>
</body>
</html>
